<table class="table-data entry-hours">
  <thead>
    <tr>
      <th colspan="2">{{text|default('Matin')}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Début</td>
      <td>
        {% include "@atoms/button/button-secondary.twig" with {icon: "chrono", id: 'now-start'}%}
        <button id="{{id}}-start" class="zero" class="number">{{startTime|default('00:00')}}</button>
      </td>
    </tr>
    <tr>
      <td>Fin</td>
      <td>
        {% include "@atoms/button/button-secondary.twig" with {icon: "chrono", id: 'now-end'}%}
        <button id="{{id}}-end" class="zero" class="number">{{endTime|default('00:00')}}</button>
      </td>
    </tr>
  </tbody>
</table>
